body {
  margin: 0;
  --green-tone1: #97b1ab;
  --green-tone2: #344b46;
  --dark-color: #131313;
  --accent-color: #c79dcd;
  --font-family-title: "railroad-gothic-atf", sans-serif;
  --font-family-p: "gohper", sans-serif;
  --font-family-accent: kansasnew, serif;
  --font-family-accent2: rad, sans-serif;
}

.bfm__link-primary {
  text-decoration: none;
  color: black;
}

.bfm__link-primary:hover {
  transform: translate(0px, -3px);
}

.bfm__link-primary:active {
  transform: translate(0px, 1px);
  text-decoration: none;
  color: #344b46;
}
